:root{
    --primary: #614cab;
    --secondary: #262626;
    --darker: #141414;
    --text: #e5e5e5;
}

body{
    margin: 0;
    color: var(--text);
    background-color: var(--secondary);
    font-family: 'Bebas Neue', Impact;
    font-size: 100%;
}
hr{
    color: rgb(191, 159, 255);
    height: 10px;
    background-color: rgb(191, 159, 255);
    margin-bottom: 50px;
}
.header{
    display: flex;
    background-color: var(--secondary);
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    font-size: 2em;
}
.header-left-section{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 180px;
    width: 400px;
}
.header-right-section{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 180px;
    width: 300px;
}
.image-section{
    width: 100%;
    height: 500px;
    background-color: #614cab;
    background-image: url("https://railgunzx.github.io/website-test/Images/background.jpg");
}

.body-section{
    width: 100%;
    margin-bottom: 100px;
    background-color: var(--secondary);
}
.bottom-section{
    display: flex;
    background-color: var(--darker);
    height: 120px;
    box-shadow: 0px -5px 10px #1414147d;
}
.first-text-div{
    background-color: var(--secondary);
    padding-left: 200px;
    font-size: 2.5em;
    display: flex;
    height: 80px;
    align-items: center;

}
.grid-area{
    background-color: var(--secondary);
    width: 100%;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    justify-content: space-around;
}
.grid-area-wide{
    background-color: var(--secondary);
    width: 100%;
    display: grid;
    grid-template-columns: 600px 600px;
    justify-content: space-around;
}
.grid-panel{
    background-color: var(--secondary);
    width: 100%;
    height: 400px;
}

.grid-panel-image{
    background-color: #614cab;
    display: block;
    width: 100%;
    height: 350px;
}
.grid-panel-text{
    text-align: center;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    font-size: 2em;
    margin: 0;
}